
@{
    ViewBag.Title = "New Material Requisition";
}

<h3>
    Material Requisition List
</h3>
<!-- START panel-->
<div class="panel panel-default">
    <div class="panel-body">
        <form method="get" action="/" class="form-horizontal">
            <fieldset>
                <div class="form-group" style="margin:20px">

                    <label class="col-sm-2 control-label">Department<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Front Office</option>
                            <option>Kitche4ns</option>
                            <option>Store</option>
                            <option>House Keeping</option>
                            <option>Accounts</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Item Type<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Store</option>
                            <option>Direct</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin:20px">
                   
                    <label class="col-sm-2 control-label">Created By<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                        @*<select name="account" class="form-control m-b">
                            <option>Logined User Name</option>
                        </select>*@
                    </div>
                    <label class="col-sm-2 control-label">Approved By<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                        @*<select name="account" class="form-control m-b">
                            <option>Circuit House Manager</option>
                        </select>*@
                    </div>
                </div>
                <div class="form-group" style="margin:20px">
                    <label class="col-sm-2 control-label">Date<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" />
                    </div>
                    <label class="col-sm-2 control-label">Remarks<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control m-b" />
                    </div>
                </div>
            </fieldset>
            <div class="form-group" style="margin-top:20px">

                <div class="col-sm-10">

                </div>
                <button type="button" class="mb-sm btn btn-green">Create</button>
                <button type="button" class="mb-sm btn btn-danger">Reset</button>
                </div>
</form>
    </div>
</div>
<!-- END panel-->

@section Styles {

    <link href="~/Vendor/bootstrap-select.min.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Vendor/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.selectpicker').selectpicker();
        });
    </script>

}


