
@{
    ViewBag.Title = "PublicRrepresentativeGuest";
}
<h3>
    Public Representative
    <small>This form only public representative</small>
</h3>
<div class="panel panel-default">
    @*<div class="panel-heading">Form elements</div>*@
    <div class="panel-body">
        <form method="get" action="/" class="form-horizontal">
            <fieldset>
                <legend>Aadhar Detail</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">SSOID<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>

                    <label class="col-sm-2 control-label">Name<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">Mobile Number<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>
                    <label class="col-sm-2 control-label">DOB<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" />
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">Gender<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>
                    <label class="col-sm-2 control-label">Email<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" />
                    </div>
                </div>
                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">Postal address<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>                   
                </div>

                 <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">Postal address<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>                   
                </div>
            </fieldset>

            <fieldset>
                <legend>Booking Detail</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Arrival Date<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" />
                    </div>
                    <label class="col-sm-2 control-label">Departure Date<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" />
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">Days<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" />
                    </div>
                    <label class="col-sm-2 control-label">Number of Rooms<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" />
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Working Detail</legend>
               
                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">Post/Designation<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>
                    <label class="col-sm-2 control-label">Post of Place<span></span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>
                </div>                

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">State<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Division<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">District<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Block<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Persional Information</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>
                    <label class="col-sm-2 control-label">Middle Name<span></span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">Last Name<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>
                    <label class="col-sm-2 control-label">Gender<span>*</span></label>
                    <div class="col-sm-4">
                        <label class="radio-inline c-radio">
                            <input id="inlineradio1" type="radio" name="i-radio" value="option1" checked="checked">
                            <span class="fa fa-circle"></span>Male
                        </label>
                        <label class="radio-inline c-radio">
                            <input id="inlineradio1" type="radio" name="i-radio" value="option1" checked="checked">
                            <span class="fa fa-circle"></span>Female
                        </label>
                        <label class="radio-inline c-radio">
                            <input id="inlineradio1" type="radio" name="i-radio" value="option1" checked="checked">
                            <span class="fa fa-circle"></span>Other
                        </label>
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">DOB<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" />
                    </div>
                    <label class="col-sm-2 control-label">Marital Status<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">Category<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Religion<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">EMail<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" />
                    </div>
                    <label class="col-sm-2 control-label">Mobile Number<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="10" class="form-control" />
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Current Address</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Address<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>

                    <label class="col-sm-2 control-label">Area Type<span></span></label>
                    <div class="col-sm-4">
                        <label class="radio-inline c-radio">
                            <input id="inlineradio1" type="radio" name="i-radio" value="option1" checked="checked">
                            <span class="fa fa-circle"></span>Rural
                        </label>
                        <label class="radio-inline c-radio">
                            <input id="inlineradio1" type="radio" name="i-radio" value="option1" checked="checked">
                            <span class="fa fa-circle"></span>Urban
                        </label>
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">State<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Division<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">District<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Block<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">Panchayat<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Pic Code<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Permanent Address</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Address<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>

                    <label class="col-sm-2 control-label">Area Type<span></span></label>
                    <div class="col-sm-4">
                        <label class="radio-inline c-radio">
                            <input id="inlineradio1" type="radio" name="i-radio" value="option1" checked="checked">
                            <span class="fa fa-circle"></span>Rural
                        </label>
                        <label class="radio-inline c-radio">
                            <input id="inlineradio1" type="radio" name="i-radio" value="option1" checked="checked">
                            <span class="fa fa-circle"></span>Urban
                        </label>
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">State<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Division<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">District<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Block<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" style="margin-top:20px">
                    <label class="col-sm-2 control-label">Panchayat<span>*</span></label>
                    <div class="col-sm-4">
                        <select name="account" class="form-control m-b">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Pic Code<span>*</span></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </fieldset>

            <button type="button" class="mb-sm btn btn-green">Submit</button>
            <button type="button" class="mb-sm btn btn-danger">Reset</button>
        </form>
    </div>
</div>
<!-- END panel-->

@section Styles {

    <link href="~/Vendor/bootstrap-select.min.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Vendor/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.selectpicker').selectpicker();
        });
    </script>

}

